@import url("https://fonts.googleapis.com/css?family=Montserrat");

.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10%;
  margin-left: 100px;
}

.form{
    width: 502px;
    height: 553px;
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-right: 2%;
}

.col2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

 .info {
  font-size: 18px;
  width: 90%;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #4B4B4B;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 768px) {
   .info {
    text-align: left;
  }
}

.infoText{
    font-size: 20px;
    color: #1C4196;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 36px;
}

.signupText{
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    color: #1C4196;
    font-weight: normal;
    margin-bottom: 50px;
}

 .iCare {
  margin-top: 0;
  width: 30%;
}
@media (min-width: 768px) {
   .iCare {
    font-size: 6em;
    text-align: left;
  }
}

.iCareWhite{
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

.topleft{
    position: absolute;
    top: -5%;
    left: 2%;
}
